<!--<div>
  <label for="nombre">Escribe tu nombre: </label>
  <input id="nombre" type="text" [ngModel]="sName"
  (ngModelChange)="sName = $event">  

</div>
<div>
  Hola {{sName}}
</div>
<br>
<div>
    <label for="nombre2">Escribe tu nombre: </label>
    <input id="nombre2" type="text" [(ngModel)]="sName">  
  
  </div>
  <div>
    Hola {{sName}}
  </div>-->
  <div>
      <label for="nombre2">Escribe tu nombre: </label>
      <input id="nombre2" type="text" [(ngModel)]="sName">  
    
    </div>
    <div>
      Hola {{sName}}
    </div>